<div class="container">
<div class="row">
    <h4>Our Students:</h4>
</div>

    <table class="striped">
        <thead>
          <tr>
            <th>ID</th>
            <th><%= sort_link "first_name" %></th>
            <th><%= sort_link "last_name" %></th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthday</th>
            <th>Age</th>
            <th>Cohort</th>
            <th>Education</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
        <% @students.each do |student| %>
            <%= render student %>
         <% end %>
        </tbody>
    </table>
    <ul class="pagination center">
    <%= will_paginate @students %>
    </ul>
    
    <div id="student-edit-modal" class="modal">
        <div class="modal-content">
            <h5>Update the information by editing info in this form:</h5>
                <span id="editting-form"></span>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>

