<div class="container">
<table>
        <thead>
          <tr>
              <th>ID</th>
              <th>Userpic</th>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
         <%= render user %>
          <% end %>
        </tbody>
      </table>
</div>