<nav class="grey lighten-1" id="test">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo red-text" id="school-name">School for Creative Minds</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <form>
                    <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
                </form></li>
            <li><a href="#" class="dropdown-trigger" data-target="dropdown-courses">Courses</a></li>
            <li><a href="#" class="dropdown-trigger" data-target="dropdown-cohorts">Cohorts</a></li>
            <li><a href="#" class="dropdown-trigger" data-target="dropdown-instr">Instructors</a></li>
            <li><a href="" class="dropdown-trigger" data-target="dropdown-students">Students</a></li>
            <li><a href="" class="dropdown-trigger" data-target="dropdown-profile">Profile</a></li>
      </ul>
    </div>


 <ul class="dropdown-content grey lighten-2" id="dropdown-courses">
    <li><a href="/courses" class="white-text">See All</a></li>
    <li><a href="/courses/new" class="white-text">Add New</a></li>
</ul>
<ul class="dropdown-content grey lighten-2" id="dropdown-cohorts">
    <li><a href="/cohorts" class="white-text">See All</a></li>
    <li><a href="/cohorts/new" class="white-text">Add New</a></li>
</ul>
<ul class="dropdown-content grey lighten-2" id="dropdown-instr">
    <li><a href="/instructors" class="white-text">See All</a></li>
    <li><a href="/instructors/new" class="white-text">Add New</a></li>
</ul>
<ul class="dropdown-content grey lighten-2" id="dropdown-students">
    <li><a href="/students" class="white-text">See All</a></li>
    <li><a href="/students/new" class="white-text">Add New</a></li>
</ul>
<ul class="dropdown-content grey lighten-2" id="dropdown-profile">
    <li><a href="" class="white-text">Show Profile</a></li>
    <li><a href="" class="white-text">Update Profile</a></li>
    <li><a href="" class="white-text">Log Out</a></li>
</ul>

</nav>