<nav class="grey lighten-1" id="test">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo red-text" id="school-name">School for Creative Minds</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if user_signed_in? %>
            <li><a href="#" class="dropdown-trigger" data-target="dropdown-courses">Courses</a></li>
            <li><a href="#" class="dropdown-trigger" data-target="dropdown-cohorts">Cohorts</a></li>
            <li><a href="#" class="dropdown-trigger" data-target="dropdown-instr">Instructors</a></li>
            <li><a href="" class="dropdown-trigger" data-target="dropdown-students">Students</a></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><a href="/users/sign_in" >Log In</a></li>
            <% end %>
      </ul>
    </div>


 <ul class="dropdown-content grey lighten-2" id="dropdown-courses">
    <li><a href="/courses" class="white-text">See All</a></li>
    <li><a href="/courses/new" class="white-text">Add New</a></li>
</ul>
<ul class="dropdown-content grey lighten-2" id="dropdown-cohorts">
    <li><a href="/cohorts" class="white-text">See All</a></li>
    <li><a href="/cohorts/new" class="white-text">Add New</a></li>
</ul>
<ul class="dropdown-content grey lighten-2" id="dropdown-instr">
    <li><a href="/instructors" class="white-text">See All</a></li>
    <li><a href="/instructors/new" class="white-text">Add New</a></li>
</ul>
<ul class="dropdown-content grey lighten-2" id="dropdown-students">
    <li><a href="/students" class="white-text">See All</a></li>
    <li><a href="/students/new" class="white-text">Add New</a></li>
</ul>

</nav>