<nav class="grey lighten-2">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="center hide-on-med-and-down">
            <li>Filter By:</li>
            <li><a href="" class="dropdown-trigger" data-target="dropdown-courses-filters">Courses</a></li>
            <li><a href="" class="dropdown-trigger" data-target="dropdown-instr-filters">Instructors</a></li>
            <li><a href="" class="dropdown-trigger" data-target="dropdown-profile-filters">Schedule</a></li>
      </ul>
    </div>
</nav>