.card-main-image {
    background-size: cover;
    overflow: hidden;
    height: 0;
    padding-top: 75%;
    display: block;
}

.brand-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    margin-left: 25px;
}